<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBconnectionString" connectionString ="Server=LAPTOP-ASPIRE5\SQLEXPRESS;Database=T4DDBMonitoring; Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <!-- Yes/No -->
    <add key="freezeScreen" value="Yes" />



    <add key="ProjectTitle" value="Kenilworth" />
    <add key="ContractTitle" value="Kenilworth" />
    <add key="ExcelPath" value="C:\_Working_drive\settopOutOfToleranceAlarm\" />
    <add key="ExcelFile" value="Kenilworth_settopOutOfTolerance_master.xlsx" />
    <add key="SurveyWorksheet" value="Survey" />

    <!-- Folders -->
    <add key="SystemStatusFolder" value="C:\__SystemLogs\Kenilworth\" />
    <add key="SystemAlarmsFolder" value="C:\__SystemAlarms\Kenilworth\" />
    <!-- Settop data folders -->
    <add key="SettopDataFolder1" value="C:\_Working_drive\settopOutOfToleranceAlarm\Settop_Data\K4_ATS01\K4_ATS01_monitoring\" />
    <add key="SettopDataFolder2" value="C:\_Working_drive\settopOutOfToleranceAlarm\Settop_Data\K4_ATS02\K4_ATS0x_monitoring\" />
    <add key="SettopDataFolder3" value="C:\_Working_drive\settopOutOfToleranceAlarm\Settop_Data\K4_ATS03\K4_ATS03_monitoring\" />
    <add key="SettopDataFolder4" value="None" />
    <add key="SettopDataFolder5" value="None" />
    <add key="SettopDataFolder6" value="None" />
    <add key="SettopDataFolder7" value="None" />
    <add key="SettopDataFolder8" value="None" />
    <add key="SettopDataFolder9" value="None" />
    
    
    
    
    
    
    <!-- ATS details -->
    <add key="ATSdetails1" value="ATS01,436891.978,495653.995,46.586,M10822166,T01,T02,T13,T14,T15" />
    <add key="ATSdetails2" value="ATS02,436923.970,495744.068,46.772,M10822261,T01,T02,T22,T25" />
    <add key="ATSdetails3" value="ATS03,436957.391,495841.841,46.936,M10822242,T01,T32,T33,T34" />
    <add key="ATSdetails4" value="None" />
    <add key="ATSdetails5" value="None" />
    <add key="ATSdetails6" value="None" />
    <add key="ATSdetails7" value="None" />
    <add key="ATSdetails8" value="None" />
    <add key="ATSdetails9" value="None" />
    
    
    
    
    
    
    
    
    
    <!-- SMS settings -->
    <add key="SMSTitle" value="Kenilworth" />
    <add key="RecipientPhone1" value="+4917672997904" /><!-- None -->
    <add key="RecipientPhone2" value="None" /><!-- None -->
    <add key="RecipientPhone3" value="None" />
    <add key="RecipientPhone4" value="None" />
    <add key="RecipientPhone5" value="None" />
    <add key="RecipientPhone6" value="None" />
    <add key="RecipientPhone7" value="None" />
    <add key="RecipientPhone8" value="None" />
    <add key="RecipientPhone9" value="None" />
    <add key="JAGstatus" value="No" />


    <!-- email -->
    <add key="SendEmails" value="Yes" />
    <add key="EmailFrom" value="gna.geomatics@gmail.com" />
    <add key="EmailLogin" value="gna.geomatics@gmail.com" />
    <add key="EmailPassword" value="fcpiticuvgltgrgy" />
    <add key="EmailRecipients" value="gna.geomatics@gmail.com" />
    <add key="EPPlus:ExcelPackage.LicenseContext" value="Commercial" />

    </appSettings>
</configuration>